	<% @comments.each do |comment| %>
	  <div class="panel panel-primary">
	  	<div class="panel-heading">
				<%= comment.user.name %> | Rating: <%= comment.rating %>
				<% if user_signed_in? && current_user.id == comment.user.id %>
					<%= link_to 'Delete', picture_comment_path(@picture, comment), class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: "Are you sure?"} %>
				<% end %>
			</div>
			<div class="panel-body">
				<%= comment.text %>
			</div>
		</div>
	<% end %>
<% if user_signed_in? && @comments_availability.nil? %>
	<div class="row">
		<div class="col-sm-12">
			<%= simple_form_for [@picture, @picture.comments.new] do |f|%>
			  <div class="form-inputs">
			  	<%= f.input :text, placeholder: 'Add a comment...' %>
			  </div>
			  <div class="form-inputs">
			  	<%= f.input :rating, collection: 1..5 %>
			  </div>

			  <div class="form-actions">
			  	<%= f.button :submit %>
			  </div>
			<% end %>
		</div>
	</div>
<% end %>