<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<div class="row">	
	<% @pictures.each do |picture| %>
		<div class="col-sm-3">
			<%= image_tag(picture.image.url(:small)) %> <br>
			<%= link_to picture.title, picture_path(picture) %>
			<p>By <%= picture.user.name %></p>
		</div>
	<% end %>
</div>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>